.contacts {
	display: flex;
	flex-wrap: wrap;
	/* padding: 0 100px; */

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 33.333%;

		@media screen and (max-width: 576px) {
			width: 100%;
			margin-bottom: 40px;
		}
	}

	&__icon {
		width: 26px;
		height: 26px;
		margin-bottom: 12px;
		text-align: center;

		&.hours {
			background: url('../images/dest/icons/hours.svg') no-repeat;
		}

		&.directions {
			background: url('../images/dest/icons/directions.svg') no-repeat;
		}

		&.call {
			background: url('../images/dest/icons/call.svg') no-repeat;
		}
	}

	&__content {
		font-size: 16px;
		margin-bottom: 10px;
		text-shadow: 1px 1px #000;

		@media screen and (min-width: 577px) and (max-width: 620px) {
			font-size: 13px;
		}

		@media screen and (min-width: 621px) and (max-width: 768px) {
			font-size: 14px;
		}
	}

	&__desc {
		font-size: 14px;
		font-weight: 100;
		letter-spacing: 2px;
		text-shadow: 1px 1px #000;

		@media screen and (min-width: 576px) and (max-width: 768px) {
			font-size: 10px;
		}
	}

}