@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		// font-display: swap // Uncomment to initially display system fonts
		src: local($fname), url($furl) format('woff2');
		font-display: swap;
	}
}


@include font('BoldCondensed', normal, 700, '../fonts/HelveticaNeueBoldCondensed.woff2');
@include font('BlackCondensed', normal, normal, '../fonts/HelveticaNeueBlackCondensed.woff2');
@include font('Roman', normal, normal, '../fonts/HelveticaNeueCyr-Roman.woff2');