.footer {
	
	background-color: #252525;

	&__contacts {

		padding: 40px 0;
		border-bottom: 2px solid #303030;

		@import 'contacts';
	}

	&__logo-copyright {
		padding: 40px 0;
	}

	&__logo {
		display: block;
		margin: 0 auto 15px;
		width: 207px;
		height: 24px;
		background: url('../images/dest/logo.svg') no-repeat;

		&:hover {
			background: url('../images/dest/logo_active.svg') no-repeat;
		}
	}

	&__copyright {
		color: #737373;
		font-size: 12px;
		text-align: center;
	}
}