.header {
	min-height: 150vh;
	background: url('../images/dest/header.jpg') no-repeat;
	background-size: cover;
	background-position-y: -5px; 

	.navbar {
		height: 90px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__content {
		padding-top: 120px;
		text-align: center;
	}

	&__title {
		font-size: 72px;
		letter-spacing: 5px;
		font-weight: 300;
		text-shadow: 2px 2px #000;
		text-align: center;
		margin-bottom: 25px;
		background: rgba(0,0,0,.1);
    	padding: 25px 0;

		span {
			font-weight: 700;
		}
	}

	&__text {
		max-width: 650px;
		margin: 0 auto 40px;
		font-size: 16px;
		line-height: 22px;
		letter-spacing: 2px;
		font-weight: 100;
		text-shadow: 1px 1px #000;
		text-align: center;
		margin-bottom: 40px;
	}

	&__button {
		display: inline-block;
		/* margin: 0 auto 70px; */
		margin: 0 auto 150px;
		padding: 25px 60px;
		border-radius: 50px;
		background: #6dc734;
		border: 1px solid #286203;

		font-size: 18px;
		font-family: 'BoldCondensed';
		color: #1a1a1a;
		text-decoration: none;
		letter-spacing: 2px;
		text-shadow: 0 0 transparent;

		transition: .33s;

		&:hover {
			box-shadow: 0px 0px 3px 0px #c0e300;
			background-color: #8fdf25;
			border: 1px solid #c0e300;
		}
	}

	@import '../contacts';
}

@import 'burger';
@import 'header_menu';
@import 'header_media';