.chefs {
	
	&-list {
		display: flex;
		gap: 30px;

		margin-top: 100px;
		margin-bottom: 120px;
	
		@media screen and (max-width: 1200px) {
			flex-wrap: wrap;
		}

		&__item {
			width: 33.333%;

			@media screen and (max-width: 1200px) {
				width: 100%;
				display: flex;
				justify-content: space-around;
			}

			@media screen and (max-width: 768px) {
				flex-wrap: wrap;
				margin: 20px 0 50px;
			}
		}

		&__details {
			display: flex;
			gap: 25px;
			margin-bottom: 25px;
			align-items: center;

			@media screen and (max-width: 768px) {
				width: 100%;
				justify-content: center;
			}
		}

		&__photo {
			display: block;
			padding: 2px;
			background-color: #222;
			width: 71px;
			height: 71px;
			border-radius: 71px;
			border: 2px solid $color_green_l;
		}

		&__desc {
			display: flex;
			flex-direction: column;
			gap: 7px;
		}

		&__name {
			font-size: 18px;
			font-weight: 400;
			letter-spacing: .5px;
		}

		&__position {
			font-weight: 300;
			font-size: 13px;
			line-height: 16px;
			color: #ccc;
			letter-spacing: .3px;
		}

		&__slider {
			display: flex;
			gap: 30px;

			@media screen and (max-width: 768px) {
				width: 100%;
				display: flex;
				justify-content: center;
			}

			@media screen and (max-width: 375px) {
				gap: 10px;
			}

			@media screen and (max-width: 330px) {
				gap: 5px;
			}
		}

		&__details {
			display: flex;
		}

		&__slide {
			&-image {
				display: block;
				border-radius: 3px;
			}
		}
	}
}