.social {

	&-list {
		display: flex;
		gap: 30px;
		margin-bottom: 120px;

		@media screen and (max-width: 1200px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	
		&__item {
			width: 33.333%;
			min-height: 330px;
			background-color: #262626;
			border-radius: 8px;

			@media screen and (max-width: 1200px) {
				width: 60%;
			}

			@media screen and (max-width: 1000px) {
				width: 70%;
			}

			@media screen and (max-width: 900px) {
				width: 80%;
			}

			@media screen and (max-width: 768px) {
				width: 90%;
			}

			@media screen and (max-width: 376px) {
				width: 100%;
			}
		}

		&__top {
			height: 90px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 25px;
			border-bottom: 2px solid #303030;

			@media screen and (max-width: 350px) {
				padding: 0 15px;
			}
		}

		&__icon {
			width: 40px;
			height: 40px;
			display: flex;
			align-items: center;
			padding-left: 57px;
			position: relative;
			border-radius: 40px;
			transition: .33s;

			font-weight: 300;
			font-size: 14px;
			color: #BFBFBF;

			&.social-twitter, &.social-instagram, &.social-facebook {
				background-position: center top;
				background-size: cover;
			}

			&.social-twitter {
				background: url('../images/dest/icons/twitter.svg') no-repeat;
			}

			&.social-instagram {
				background: url('../images/dest/icons/instagram.svg') no-repeat;
			}

			&.social-facebook {
				background: url('../images/dest/icons/facebook.svg') no-repeat;
			}
		} // icon

		&__button {
			display: inline-block;
			padding: 12px 18px 14px 22px;
			text-decoration: none;
			color: #737373;
			font-family: 'BlackCondensed';
			font-size: 10px;
			letter-spacing: 1.5px;
			text-transform: uppercase;
			border: 2px solid #303030;
			border-radius: 40px;
			transition: .33s;

			&:hover {
				color: #fff;
				border-color: $color_green_l;
			}
		} // button

		&__content {
			padding: 20px 30px;
			min-height: 240px;

			@media screen and (max-width: 350px) {
				padding: 20px 15px;
			}
		} 

		&__date {
			color: #737373;
			font-size: 14px;
			line-height: 30px;
			margin-bottom: 10px;
		}

		&__text {
			font-size: 14px;
			color: #bbb;
			line-height: 25px;
			margin-bottom: 20px;

			@media screen and (max-width: 576px) {
				font-size: 13px;
				line-height: 23px;
			}

			@media screen and (max-width: 376px) {
				font-size: 12px;
				line-height: 22px;
			}
		}

		&__author {
			font-size: 14px;
			line-height: 30px;
			color: $color_green;
			transition: .33s;

			&:hover {
				cursor: pointer;
				color: $color_green_l;
			}
		} // author

		&__image {
			width: 90%;
			height: 90%;
			margin: 3% auto 2%;
			border: 2px solid #3c3c3c;
			cursor: pointer;
			transition: .33s;

			@media screen and (max-width: 768px) {
				width: 100%;
				height: 100%;
			}

			&:hover {
				border-color: $color_green_l;
			}

			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}